<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
<!-- 应用名-->
    <dubbo:application name="dubbo-consumer"></dubbo:application>
<!--    包扫描-->
    <dubbo:annotation package="com.atguigu"/>
<!--    注册中心-->
    <dubbo:registry address="zookeeper://localhost:2181"/>

<!--    启动时候不检查提供者-->
    <dubbo:consumer check="false"/>
</beans>
